<!doctype html>
<html>

<head>
    <title>Welcome to Dropbox Replica System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        var timeout;
		function startLoad() {
			$('#loading').html('<img src="http://rpg.drivethrustuff.com/shared_images/ajax-loader.gif" id="loader"//>');
			clearTimeout(timeout);
			timeout = setTimeout(loaded, 1500);
		}
    </script>
    <style>
        #loader {
			width: 20%;
			position: fixed;
			left: 35%;
    		top: 35%;
		}
    </style>
</head>

<body>
    <div align="center" >
        <div id='loading'></div>
        <div style="width: 60%;">
            <h1>Welcome to Dropbox Replica System</h1>
            <div id="firebase-auth-container"></div>
            <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
            <div id="login-info" hidden="true">
                <hr>
                {% if session['name'] %}
                    <table class="table">
                        <tr class="table-info">
                            <td>Name: {{ session['name'] }}</td>
                            <td>Email: {{ session['email'] }}</td>
                        </tr>
                    </table>
                    <table class="table" align="center">
                    <tr>
                        <td colspan="2">
                            <form action="/check_duplicates_entire_storage" method="POST">
                                <button type="submit" onclick="startLoad()" class="btn btn-light form-control"><i class="fa fa-check-square-o" aria-hidden="true"></i> check duplicates from entire storage</button>
                            </form>
                        </td>
                        <td>
                            <form action="/go_back" method="POST">
                                <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                                <button type="submit" onclick="startLoad()" class="btn btn-light form-control"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Go Back</button>
                            </form>
                        </td>
                        <td colspan="">
                            <form action="/" method="GET">
                                <button type="submit" onclick="startLoad()" class="btn btn-light"><i class="fa fa-home"></i> Home</button>
                            </form>
                        </td>
                    </tr>
                    </table>
                    <hr>
                    <h2>{{ msg }}</h2>
                    <table class="table table-success">
                        <th>Sr. No.</th>
                        <th>File Name</th>
                        {% if msg == 'Duplicates in Entire User Storage' %}
                        <th>File Path</th>
                        {% endif %}
                        <th>MD5 Hash</th>
                        {% if duplicates | length > 1 %}
                            {% set vars = {'hash': ""} %}
                            {% set vars = {'check': 0} %}
                            {% for f in duplicates %}
                                {% if vars.hash != f.md5_hash %}
                                    {% if vars.update({'hash': f.md5_hash}) %}{% endif %}
                                    {% if vars.check == 0 %}
                                        {% if vars.update({'check': 1}) %} {% endif %}
                                    {% else %}
                                        {% if vars.update({'check': 0}) %} {% endif %}
                                    {% endif %}
                                {% endif %}
                                <tr {% if vars.check == 1 %} class="bg-light" {% else %} class="table-info" {% endif %}>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td>
                                        {% set file = f.name.split('/') %}
                                        {{ file.pop() }}
                                    </td>
                                    {% if msg == 'Duplicates in Entire User Storage' %}
                                    <td align="left">
                                        <input type="hidden" name="{{file.pop(0)}}">
                                        /{% for i in file %}
                                            {{i}}/
                                        {% endfor %}
                                    </td>
                                    {% endif %}
                                    <td>
                                        {{ f.md5_hash }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    <h3>No Duplicates found</h3>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                {% elif error_message %}
                <p>Error Message: {{ error_message }}</p>
                {% endif %}
            </div>
            <font color=red>* Duplicates are calculated based upon md5 hash</font>
        </div>
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>