<!doctype html>
<html>

<head>
    <title>Welcome to Dropbox Replica System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function check_dir(event){
            name = document.getElementById('dir_name').value;
            // alert(name)
            if (name == "") {
                alert("Directory Name cannot be empty")
                return false;
            }
            if (name.split('/').length==2 && name[name.length -1]!="/"){
                alert("Invalid Directory Name")
                return false;
            }
            if (name.split('/').length>2){
                alert("Directory name cannot contain more than 1 '/'")
                return false;
            }
            return true;
        }
    </script>
    <script>
        var timeout;
		function startLoad() {
			$('#loading').html('<img src="http://rpg.drivethrustuff.com/shared_images/ajax-loader.gif" id="loader"//>');
			clearTimeout(timeout);
			timeout = setTimeout(loaded, 1500);
		}
    </script>
    <style>
        #loader {
			width: 20%;
			position: fixed;
			left: 35%;
    		top: 35%;
		}
    </style>
    <script>
        var file_count = 0;
        function check_file_names(){
            file_name = document.getElementById('file_name').value;
            name = file_name.split(/(\\|\/)/g).pop();
            for (i=1;i<=file_count;i++){
                if (document.getElementById('file_name'+i).value==name){
                    if(confirm("File Name already exists, Do you want to overwrite?")){
                        startLoad();
                        return true;
                    }else{
                        return false;
                    }
                }
            }
            return true;
        }
    </script>
</head>

<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
        <div class="modal-header">
            <h2>Background Color Indications</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p><svg width="20" height="20"><rect width="20" height="20" style="fill:#28963C;" /></svg> Shared Files</p>
            <p>I'm showing shared files only in the root directory of a user.</p>
        </div>
        <div class="modal-footer">
            <h3> </h3>
        </div>
        </div>

    </div>
    <div align="center" >
        <div id='loading'></div>
        <div style="width: 60%;">
        <h1>Welcome to Dropbox Replica System</h1>
        <div id="firebase-auth-container"></div>
        <button id="sign-out" class="btn btn-danger" hidden="true">Sign out <i class="fa fa-power-off"></i> </button>
        <div id="login-info" hidden="true">
            <hr>
            {% if session['name'] %}
                <table class="table">
                    <tr class="table-info">
                        <td>Name: {{ session['name'] }}</td>
                        <td>Email: {{ session['email'] }}</td>
                    </tr>
                </table>
                <table class="table" align="center">
                <tr>
                    <form action="/add_directory" method="post">
                        <td><input type="text" class="form-control" id="dir_name" required placeholder="Enter directory Name" name="dir_name"/></td>
                        <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                        <td><button type="submit" onclick="return check_dir(event);startLoad();" class="btn btn-success"><i class="fa fa-plus"></i> Add</button></td>
                    </form>
                    <form action="/upload_file" method="post" onsubmit="return check_file_names();" enctype="multipart/form-data">
                        <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                        <td colspan="2"><input type="file" required class="form-control" id="file_name" name="file_name" /></td>
                        <td><button class="btn btn-success" type="submit"><i class="fa fa-upload"></i> Upload</button></td>
                    </form>
                </tr>
                <tr>
                    <td colspan="2">
                        <form action="/check_duplicates_entire_storage" method="POST">
                            <button type="submit" onclick="startLoad()" class="btn btn-warning form-control"><i class="fa fa-check-square-o" aria-hidden="true"></i> check duplicates from entire storage</button>
                        </form>
                    </td>
                    <td colspan="1">
                        <form action="/check_duplicates_in_current_directory" method="POST">
                            <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                            <button type="submit" class="btn btn-warning form-control" onclick="startLoad()" value=""><i class="fa fa-check-square-o" aria-hidden="true"></i> check duplicates in current directory</button>
                        </form>
                    </td>
                    <td>
                        <form action="/" method="GET">
                            <button type="submit" onclick="startLoad()" class="btn btn-warning"><i class="fa fa-home"></i> Home</button>
                        </form>
                    </td>
                    <td>
                        <button id="myBtn" class="btn btn-warning"><i class="fa fa-info-circle"></i> Click Me First</button>
                    </td>
                </tr>
                </table>
                <hr>
                <div align=left class="table">
                    <h3>Current Directory: {{ cur_dir }}</h3>
                </div>
                <table class="table table-dark table-bordered table-striped">
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>File Type</th>
                    <th colspan="3" style="text-align: center;">Actions</th>
                    {% if cur_dir!="/" %}
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <form action="/go_to_previous_directory" id="back_form" method="POST">
                                    <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                                    <a href="#" onclick="document.getElementById('back_form').submit()">../</a>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                    {% set vars = {'count': 1} %}
                    {% for i in dir_list %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <form action="/change_dir" id="form{{ loop.index }}" method="POST">
                                <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                                <input type="hidden" name="directory_name" value="{{ i['directory_name'] }}">
                                <a href="#" onclick="document.getElementById('form{{ loop.index }}').submit();startLoad();"> {{i['directory_name']}} </a>
                            </form>
                        </td>
                        <td>Directory</td>
                        <td></td>
                        <td colspan="2">
                            <form action="/delete_directory" method="POST">
                                <input type="hidden" name="dir_name" value="{{ i['directory_name'] }}">
                                <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                                <button type="submit" onclick="startLoad()" class="btn btn-danger"><i class="fa fa-trash"></i> Delete </button>
                            </form>
                        </td>
                    </tr>
                    {% if vars.update({'count': vars.count + 1}) %}{% endif %}
                    {% endfor %}
                    {% for i in file_list %}
                    <tr>
                        <td>
                            {{ vars.count }}
                        </td>
                        <td>
                            {{ i['file_name'] }}
                        </td>
                        <td>File</td>
                        <td>
                            <form action="/download_file" method="post">
                                <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                                <input type="hidden" name="file_name" value="{{ i['file_name'] }}">
                                <button type="submit" class="btn"><i class="fa fa-download"> Download</i></button>
                            </form>
                        </td>
                        <td>
                            <form action="/delete_file" method="POST">
                                <input type="hidden" name="file_name" id="file_name{{loop.index}}" value="{{ i['file_name'] }}">
                                <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                                <button type="submit" onclick="startLoad()" class="btn btn-danger"><i class="fa fa-trash"></i> Delete </button>
                            </form>
                        </td>
                        <td>
                            <form action="/share_file" method="POST">
                                <input type="hidden" name="file_name" value="{{ i['file_name'] }}">
                                <input type="hidden" name="cur_dir" value="{{ cur_dir }}">
                                <button type="submit" onclick="startLoad()" class="btn btn-info" ><i class="fa fa-share"></i> Share</button>
                            </form>
                        </td>
                        <script>file_count++;</script>
                    </tr>
                    {% if vars.update({'count': vars.count + 1}) %}{% endif %}
                    {% endfor %}
                    {% for s in shared_files %}
                    <tr class="bg-success">
                        <td>
                            {{ vars.count }}
                            {% if vars.update({'count': vars.count + 1}) %}{% endif %}
                            {% set file_path = s %}
                            {% set splitted_file_path = file_path.split('/') %}
                        </td>
                        <td>
                            {{ splitted_file_path.pop() }}
                        </td>
                        <td>Shared File</td>
                        <td colspan="3">
                            <form action="/download_shared_file" method="post">
                                <input type="hidden" name="path_with_name" value="{{ s }}">
                                <button type="submit" class="btn"><i class="fa fa-download"> Download</i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            {% elif error_message %}
            <p>Error Message: {{ error_message }}</p>
            {% endif %}
        </div>
        </div>
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
<script>
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

</html>